{% extends "base.html" %}

{% block content %}
  {{post.renderview() | safe}}<br /><br />
<a href="/blog/vote/{{post.key().id()}}/likepost">({{likecount}}) Likes</a> <a href="/blog/vote/{{post.key().id()}}/unlikepost">({{unlikecount}}) Unlike</a><br /><br />
<a href="/blog/newcomment/{{post.key().id()}}">New Comment</a>
<div class="sub-work col-md-12">
    <hr />
    {% for c in comments %}
    <blockquote>
        <p>{{ c.content }}</p>        
        <footer>
            {{ c.created_by }}
            <a class="comment-delete btn btn-danger pull-right" href="/blog/deletecomment/{{c.key().id()}}">Delete</a>
            <a class="comment-edit btn btn-primary pull-right" href="/blog/editcomment/{{c.key().id()}}">Edit</a>
        </footer>
        <hr />
    </blockquote>
    {% endfor %}
</div>
{% endblock %}
